<form method="post" action="{{ path('app_viajero_delete', {'id': viajero.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ viajero.id) }}">
    <button class="btn">Delete</button>
</form>
