{% extends 'base.html.twig' %}

{% block title %}Edit Viajero{% endblock %}

{% block body %}
    <h1>Edit Viajero</h1>

    {{ include('viajero/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_viajero_index') }}">back to list</a>

    {{ include('viajero/_delete_form.html.twig') }}
{% endblock %}
