{% extends 'base.html.twig' %}

{% block title %}Viajero index{% endblock %}

{% block body %}

    

    <div class="conatiner w-75 ms-5">
        <h1>Viajero index</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cedula</th>
                <th>Nombre</th>
                <th>Fecha_nacimiento</th>
                <th>Telefono</th>
                <th class="ps-5">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for viajero in viajeros %}
            <tr>
                <td>{{ viajero.id }}</td>
                <td>{{ viajero.cedula }}</td>
                <td>{{ viajero.nombre }}</td>
                <td>{{ viajero.fechaNacimiento ? viajero.fechaNacimiento|date('Y-m-d') : '' }}</td>
                <td>{{ viajero.telefono }}</td>
                <td>
                    <a href="{{ path('app_viajero_show', {'id': viajero.id}) }}" class="px-5">Ver</a>
                    <a href="{{ path('app_viajero_edit', {'id': viajero.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Registro No Encontrado</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_viajero_new') }}">Nuevo</a>
</div>
{% endblock %}
