{% extends 'base.html.twig' %}

{% block title %}New Viajero{% endblock %}

{% block body %}
    <h1>Create new Viajero</h1>

    {{ include('viajero/_form.html.twig') }}

    <a href="{{ path('app_viajero_index') }}">back to list</a>
{% endblock %}
