{% extends 'base.html.twig' %}

{% block title %}Viajero{% endblock %}

{% block body %}
    <h1>Viajero</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ viajero.id }}</td>
            </tr>
            <tr>
                <th>Cedula</th>
                <td>{{ viajero.cedula }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ viajero.nombre }}</td>
            </tr>
            <tr>
                <th>Fecha_nacimiento</th>
                <td>{{ viajero.fechaNacimiento ? viajero.fechaNacimiento|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ viajero.telefono }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_viajero_index') }}">back to list</a>

    <a href="{{ path('app_viajero_edit', {'id': viajero.id}) }}">edit</a>

    {{ include('viajero/_delete_form.html.twig') }}
{% endblock %}
